.App {
  height: 100%;
}

header > * {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.column {
  padding: 20px;
}

.estimate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.estimate > * {
  margin: 0 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  padding: 10px 0;
}

nav > a,
footer > a {
  text-decoration: none;
  color: #576066;
}

a:hover {
  text-decoration: underline;
  transform: translate(-3px, -3px);
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 20px 0;
}

.faq {
  width: 80%;
  margin: 0 auto;
}

select {
  width: 200px;
}

h1 {
  color: #2c514c;
  margin: auto 0;
  margin-left: 10%;
}

.logo {
  margin-right: 10%;
}

h3 {
  color: #576066;
}

h4 {
  color: #2c514c;
}
p {
  color: #2c514c;
}

footer {
  border-top: 1px solid;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.fill {
  min-height: 200px;
}

.table {
  width: 90%;
  margin: 20px auto;
  height: 90%;
}
.map > img {
  width: 75%;
}

.total {
  background-color: lightgreen;
  padding: 10px;
}

main {
  width: 80%;
  margin: 0 auto;
}
