header > * {
  display: inline-block;
}

.intro {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  padding: 10px 0;
}

nav > a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  transform: translate(-3px, -3px);
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 20px 0;
}

select {
  width: 200px;
}
